/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
    width: 250px;
    height: 100vh;
    background: aliceblue;
    padding-top: 100px;
    padding-left: 5px;
}
a {
    text-decoration: none;
}

li {
    text-decoration: none;
    border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
}

ul li:first-child {
    color: red;
    font-weight: bold;
    border-top: 1px solid black;
}
